.loginBox{
    background-color: rgb(17, 23, 31);
    border-style: solid;
    border-color: rgb(17, 23, 31);
    border-radius: 3.3% / 6%;
    position:fixed;
    width:380px;
    height:230px;
    left:50%;
    margin-left: -190px;
    margin-top: 0%;
    z-index:1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBox label{
    text-align: left;
    display: block;
    font-size: 1rem;
    color: white;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    padding-left: 33px;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.loginBox input {
    width: 80%;
    height: 12%;
    margin-bottom: 3.2%;

}


.loginText{
    color: white;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 0.6%;
}

#loginButton{
    width: 77%;
    height: 6%;
    margin-top: 5%;
    background-color: rgb(13, 17, 23);
    border-color: rgb(27, 36, 48);
    color: white;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: rgb(13, 17, 23);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  border-color: rgb(27, 36, 48);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  height: 6%;
  width: 78%;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  
}

.button-6:hover,
.button-6:focus {
  border-color: rgb(27, 36, 48);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: rgb(27, 36, 48);
  border-color: rgb(27, 36, 48);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}